body {
  /* background: #424250; */
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

table {
  position: relative;
  z-index: 1;
}

.margin-xy {
  margin: 15px 0;
}

.MuiCheckbox-root {
  display: none !important;
}