body {
  background: #424250;
  font-family: 'Montserrat', sans-serif;
  color: #fff !important;
}

.App {
  position: relative;
  min-height: 100vh;
  height: 100vh;
  margin: 0;
}

.game-data {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 50vh;
  height: 50vh;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

table {
  position: relative;
  z-index: 1;
}

.margin-xy {
  margin: 15px 0;
}

.MuiCheckbox-root {
  display: none !important;
}

.react-daterange-picker__calendar {
  z-index: 2 !important;
}

.react-daterange-picker__wrapper {
  border: 2px solid #f75580 !important;
}

.react-daterange-picker__inputGroup,
.react-daterange-picker__inputGroup__input,
.react-daterange-picker {
  color: #fff;
}

.chart {
  padding: 15px !important;
}

.loader-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 5px;
  background: #fff;
}

.nav span {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.online-check {
  background: green;
}

.offline-check {
  background: red;
}